<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Task Manager</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/contact">Contact</a>
</nav>

  <h1>Task Manager</h1>

  <p>
    Task Manager is a simple web application for managing daily tasks.
  </p>

  <h2>Team</h2>
  <ul>
    <li>Alimkulov Askar – SE-2428</li>
    <li>Zhanadil Bexultan - SE-2428</li>
    <li>Turaly Aruzhan - SE-2428</li>
  </ul>

  <h2>Planned Features</h2>
  <ul>
    <li>Create tasks</li>
    <li>Edit tasks</li>
    <li>Mark tasks as completed</li>
    <li>Delete tasks</li>
  </ul>
</body>

<footer>
  <p>Web Technologies 2 – Assignment 1</p>
</footer>

</html>
